@import '../../../../mixins.scss';
$color-azul-claro: #5DADE2;
$color-azul-oscuro: #2874A6;
$color-blanco: #FFFFFF;
$color-gris-claro: #D5DBDB;
$color-verde-claro: #58D68D;

.modal-title {
    @include mulish-extrabold(20px, 22px, white)
}

.green-button {
  color: $color-verde-claro;
  border-color: $color-verde-claro;
  margin-top: 1vh;
}
.green-button:hover {
  background-color: $color-verde-claro;
  color: white;
}
.li-custom{
  @include mulish(16px, 17.9px, $color-azul-oscuro);
}
