<div *ngIf="view === 'list'">
    <div class="modal-header" style="background-color: #2874A6;">
        <p class="modal-title">Selección de procedimiento</p>
        <button type="button" class="btn-close custom-close-btn" aria-label="Close"
            (click)="closeModal.emit('Cross click')"></button>
    </div>
    <ul>
        <li *ngFor="let procedure of procedureList" class="li-custom">
            {{ procedure.nombre }}
            {{ procedure.diasRecuperacion }}
            <button (click)="selectProcedure(procedure)"  class="btn btn-outline green-button">Modificar</button>
        </li>
    </ul>
</div>

<div *ngIf="view === 'form'">
    <div class="modal-header" style="background-color: #2874A6;">
        <p class="modal-title">Modificar {{selectedProcedure?.nombre}}</p>
        <button type="button" class="btn-close custom-close-btn" aria-label="Close"
            (click)="closeModal.emit('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="modifyForm" (ngSubmit)="submitModification()">
            <!-- <input id="roomNumber" formControlName="roomNumber" disabled defaultValue="1000" type="text" /> -->

            <label for="healingDays">Días de recuperación</label>
            <input id="healingDays" formControlName="healingDays" type="text" class="custom-input" />
        </form>
        <button type="submit" class="btn btn-outline blue-button">Guardar</button>
        <button type="button" (click)="view = 'list'" class="btn btn-outline blue-button">Cancelar</button>
    </div>
</div>
