<div class="title-container">
  <p class="Title"> HospiTec</p>
</div>
    <img class="background-image"   src="../../../assets/images/patient-view/patient-view.png">
<div class="options-container" >
  <div class="card mx-2" style="width: 18rem;">
    <img src="../../../assets/images/patient-view/patient-reserv.jpg" class="card-img-top" alt="...">
    <div class="card-body custom-card-body">
      <h5 class="card-title custom-card-title">Reservación de camilla</h5>
      <p class="card-text custom-card-text">Reservá una camilla, en donde podés escoger la fecha que se adecue a vos, así como los tratamientos que necesités.</p>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button  type="button" class="btn btn-primary custom-button" id="dropdownBasic1" ngbDropdownToggle>
            Opciones
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="open(reserveTable)">Reservar camilla</button>
            <button ngbDropdownItem (click)="open(showTables)">Mostrar camillas reservadas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mx-2" style="width: 18rem;" >
    <img src="../../../assets/images/patient-view/historial.jpg" class="card-img-top"  alt="...">
    <div class="card-body custom-card-body">
      <h5 class="card-title custom-card-title">Historial Clínico</h5>
      <p class="card-text custom-card-text">Revisá tu historial clínico, podrás ver los tratamientos que se te han dado según tus procedimientos</p>
      <a  class="btn btn-primary custom-button" (click)="open(showHistory)">Continuar</a>
    </div>
  </div>
  <div class="card mx-2" style="width: 18rem;" >
    <img src="../../../assets/images/patient-view/rating.png" class="card-img-top"  alt="...">
    <div class="card-body custom-card-body">
      <h5 class="card-title custom-card-title">Evaluación servicio</h5>
      <p class="card-text custom-card-text">Considerando el aseo del hospital, trato del personal y
        puntualidad de las citas evaluá nuestro servicio</p>
      <a  class="btn btn-primary custom-button" (click)="open(showRatings)">Continuar</a>
    </div>
  </div>
</div>
<h1 class="Title-view">Vista paciente</h1>

<ng-template #reserveTable let-modal>
  <app-reserve-table [formRA]="formRA" (closeModal)="onCloseModal($event)"></app-reserve-table>
</ng-template>

<ng-template #showTables let-modal>
  <app-show-tables (closeModal)="onCloseModal($event)" ></app-show-tables>
</ng-template>

<ng-template #showHistory let-modal>
  <app-history (closeModal)="onCloseModal($event)" ></app-history>
</ng-template>

<ng-template #showRatings let-modal>
  <app-ratings (closeModal)="onCloseModal($event)" ></app-ratings>
</ng-template>
