<div class="title-container">
  <p class="Title"> HospiTec</p>
</div>
    <img class="background-image"   src="../../../assets/images/patient-view/patient-view.png">
<div class="options-container" >
  <div class="card mx-2" style="width: 18rem;">
    <img src="../../../assets/images/patient-view/patient-reserv.jpg" class="card-img-top" alt="...">
    <div class="card-body custom-card-body">
      <h5 class="card-title custom-card-title">Reservación de camilla</h5>
      <p class="card-text custom-card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button  type="button" class="btn btn-primary custom-button" id="dropdownBasic1" ngbDropdownToggle>
            Opciones
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="open(reserveTable)">Reservar camilla</button>
            <button ngbDropdownItem>Mostrar camillas reservadas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mx-2" style="width: 18rem;" >
    <img src="../../../assets/images/patient-view/historial.jpg" class="card-img-top"  alt="...">
    <div class="card-body custom-card-body">
      <h5 class="card-title custom-card-title">Historial Clínico</h5>
      <p class="card-text custom-card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a  class="btn btn-primary custom-button" (click)="navigateToOptions('History')">Continuar</a>
    </div>
  </div>
  <div class="card mx-2" style="width: 18rem;" >
    <img src="../../../assets/images/patient-view/rating.png" class="card-img-top"  alt="...">
    <div class="card-body custom-card-body">
      <h5 class="card-title custom-card-title">Evaluación servicio</h5>
      <p class="card-text custom-card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a  class="btn btn-primary custom-button" (click)="navigateToOptions('Ratings')" >Continuar</a>
    </div>
  </div>
</div>
<h1 class="Title-view">Vista paciente</h1>

<ng-template #reserveTable let-modal>
  <app-reserve-table [formRA]="formRA" (closeModal)="onCloseModal($event)"></app-reserve-table>
</ng-template>

