<div class="modal-header" style="background-color: #2874A6;">
    <p class="modal-title">Agregar Equipo Médico</p>
    <button type="button" class="btn-close custom-close-btn" aria-label="Close"
        (click)="closeModal.emit('Cross click')"></button>
</div>

<div class="modal-body" style="background-color: #5DADE2;">
    <form [formGroup]="formNewMedicalEq">
        <input type="text" id="name" placeholder="Número del equipo" formControlName="name" />
        <input type="text" id="provider" placeholder="Nombre del proveedor" formControlName="provider" />
        <input type="text" id="amount" placeholder="Cantidad" formControlName="amount" />
    </form>
    <div class="modal-footer" style="background-color: #2874A6;">
        <button type="button" class="btn btn-outline white-button" (click)="addMedicalEq()">Continuar</button>
    </div>
</div>