$color-azul-claro: #5DADE2;
$color-azul-oscuro: #2874A6;
$color-blanco: #FFFFFF;
$color-gris-claro: #D5DBDB;
$color-verde-claro: #58D68D;
:host {
  display: block;
  height: 100%;
}
@import '../../../mixins.scss';
$color-azul-claro: #5DADE2;
$color-azul-oscuro: #2874A6;
$color-blanco: #FFFFFF;
$color-gris-claro: #D5DBDB;
$color-verde-claro: #58D68D;
:host {
  display: block;
  height: 100%;
}
.title-container{
  height: 10vh;
  width: 100%;
  background-color: $color-gris-claro;
  display: flex;
  align-items: center
}
.Title{
  @include mulish-extrabold(24px, 26.5px, $color-verde-claro);
  margin-left: 2vw;
}
.background-image{
  width: 100%;
}
.options-container
{
  position: absolute;
  top: 59%;
  left: 33%;
  display: flex;
}
.custom-card-body
{
  background-color: white;
}
.custom-card-title{
  @include mulish-bold(20px, 23.3px, $color-azul-oscuro)
}
.custom-card-text
{
  @include mulish(15px,17.1px, $color-azul-oscuro)
}
.custom-button{
  background-color: $color-verde-claro;
  border-color: transparent;
}
.img-calendar{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
input{
  border:none;
  @include mulish(16px,19.3px, white);
  &:focus,
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: white;
  }
  background-color: transparent;
}
.modal-title{
  @include mulish-extrabold(20px, 22px, white)
}
.button-r-pathology{
  width: 0.5vw;
  background-color: transparent;
  border-color: transparent;
}
