<div class="modal-header" style="background-color: #2874A6;">
  <p class="modal-title">Historial Clínico</p>
  <button type="button" class="btn-close custom-close-btn" aria-label="Close" (click)="closeModal.emit('Cross click')"></button>
</div>
<div class="modal-body" style="background-color: #5DADE2;">
  <form [formGroup]="formRA">
    <input formControlName="id" placeholder="Cedula" class="form-input">
    <div class="input-group">
      <input
        id="date"
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        ngbDatepicker
        #dp="ngbDatepicker"
        placeholder="Fecha de nacimiento"
        formControlName = "date"
      />
      <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
        <img class="img-calendar"  src="../../../assets/images/calendar.png">
      </button>
    </div>
    <div formArrayName="plan">
      <div *ngFor="let pathologyGroup of plan.controls; let i = index" [formGroupName]="i" class="pathology-input-group">
        <input formControlName="procedure" placeholder="Ingrese un procedimiento">
        <input formControlName="treatment" placeholder="Ingrese su tratamiento">
        <button class="button-r-pathology" (click)="removePlan(i)">
          <img src="../../../assets/images/equis.png" style="width: 0.5vw;">
        </button>
      </div>
    </div>
    <button  type="button" class="btn btn-outline green-button" id="dropdownBasic1" ngbDropdownToggle (click)="addPlan()">
      Agregar procedimiento
    </button>
  </form>
</div>
<div class="modal-footer" style="background-color: #2874A6;">
  <button type="button" class="btn btn-outline white-button" (click)="addHistory()" >Añadir</button>
</div>
