@import '../../../../mixins.scss';

.modal-title {
    @include mulish-extrabold(20px, 22px, white)
}

.modal-body {
    display: flex;
}

input {
    border: none;
    @include mulish(16px, 19.3px, white);

    &:focus,
    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        color: white;
    }

    background-color: transparent;
}

.white-button {
    color: white;
    border-color: white;
}

.white-button:hover {
    background-color: white;
    color: #2874A6;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.list-item span {
    margin-right: 10px;
}